
CREATE TABLE IF NOT EXISTS gold_blessings (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  occasion TEXT NOT NULL,
  message TEXT,
  email TEXT,
  total_gold DECIMAL DEFAULT 0,
  total_inr DECIMAL DEFAULT 0,
  created_at TIMESTAMP DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS gold_blessing_entries (
  id SERIAL PRIMARY KEY,
  gold_blessing_id TEXT REFERENCES gold_blessings(id),
  blesser_name TEXT NOT NULL,
  blesser_message TEXT,
  amount_inr DECIMAL NOT NULL,
  gold_grams DECIMAL NOT NULL,
  grail_tx_id TEXT,
  created_at TIMESTAMP DEFAULT NOW()
);

